/* _content/team_project/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-30x1mty0us] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-30x1mty0us] {
    flex: 1;
}

.sidebar[b-30x1mty0us] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-30x1mty0us] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-30x1mty0us]  a, .top-row[b-30x1mty0us]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-30x1mty0us]  a:hover, .top-row[b-30x1mty0us]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-30x1mty0us]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-30x1mty0us] {
        justify-content: space-between;
    }

    .top-row[b-30x1mty0us]  a, .top-row[b-30x1mty0us]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-30x1mty0us] {
        flex-direction: row;
    }

    .sidebar[b-30x1mty0us] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-30x1mty0us] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-30x1mty0us]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-30x1mty0us], article[b-30x1mty0us] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-30x1mty0us] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-30x1mty0us] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/team_project/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-trkqccyzh4] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-trkqccyzh4] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-trkqccyzh4] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-trkqccyzh4] {
    font-size: 1.1rem;
}

.bi[b-trkqccyzh4] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-trkqccyzh4] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-trkqccyzh4] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-trkqccyzh4] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-trkqccyzh4] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-trkqccyzh4] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-trkqccyzh4] {
        padding-bottom: 1rem;
    }

    .nav-item[b-trkqccyzh4]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-trkqccyzh4]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-trkqccyzh4]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-trkqccyzh4] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-trkqccyzh4] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-trkqccyzh4] {
        display: none;
    }

    .nav-scrollable[b-trkqccyzh4] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/team_project/Components/Pages/Login.razor.rz.scp.css */

/* Basic reset for margins and padding */
*[b-0tf1iooemy] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the login form */
.login-form-container[b-0tf1iooemy] {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(93, 42, 223, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title styling */
.login-title[b-0tf1iooemy] {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;

    margin-bottom: 20px;
    color: #074f9c;;
}

/* Form group styling */
.form-group[b-0tf1iooemy] {
    margin-bottom: 15px;
}

/* Label styling */
.form-label[b-0tf1iooemy] {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

/* Input field styling */
.form-input[b-0tf1iooemy] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f9f9f9;
}

.form-input:focus[b-0tf1iooemy] {
    border-color: #074f9c;;
    outline: none;
    background-color: #fff;
}

/* Button styling */
.submit-btn[b-0tf1iooemy] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #074f9c;;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Response Message */
.message[b-0tf1iooemy] {
text-align: center;
width: 100%;
}
.submit-btn:hover[b-0tf1iooemy] {
    background-color: #074f9c;;
}

/* Responsive design */
@media (max-width: 600px) {
    .login-form-container[b-0tf1iooemy] {
        padding: 20px;
        width: 90%;
    }

    .login-title[b-0tf1iooemy] {
        font-size: 20px;
    }

    .submit-btn[b-0tf1iooemy] {
        font-size: 14px;
    }
}
/* _content/team_project/Components/Pages/Signup.razor.rz.scp.css */

/* Basic reset for margins and padding */
*[b-rjt3f5jsb1] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the signup form */
.signup-form-container[b-rjt3f5jsb1] {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(93, 42, 223, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title styling */
.signup-title[b-rjt3f5jsb1] {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;

    margin-bottom: 20px;
    color: #007bff;
}

/* Form group styling */
.form-group[b-rjt3f5jsb1] {
    margin-bottom: 15px;
}

/* Label styling */
.form-label[b-rjt3f5jsb1] {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

/* Input field styling */
.form-input[b-rjt3f5jsb1] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f9f9f9;
}

.form-input:focus[b-rjt3f5jsb1] {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

/* Button styling */
.submit-btn[b-rjt3f5jsb1] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Response Message */
.message[b-rjt3f5jsb1] {
text-align: center;
width: 100%;
}
.submit-btn:hover[b-rjt3f5jsb1] {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 600px) {
    .signup-form-container[b-rjt3f5jsb1] {
        padding: 20px;
        width: 90%;
    }

    .signup-title[b-rjt3f5jsb1] {
        font-size: 20px;
    }

    .submit-btn[b-rjt3f5jsb1] {
        font-size: 14px;
    }
}
/* _content/team_project/Components/Pages/Tasks.razor.rz.scp.css */
.top-bar[b-w405awn8f3] {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.logout-container[b-w405awn8f3] {
    text-align: right;
}

.logout-btn[b-w405awn8f3] {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout-btn:hover[b-w405awn8f3] {
    background-color: #0056b3; /* Darker blue on hover */
}

.task-form-container[b-w405awn8f3] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.task-title[b-w405awn8f3] {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-label[b-w405awn8f3] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input[b-w405awn8f3] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.form-input[b-w405awn8f3] {
    height: 100px;
    resize: vertical;
}

.submit-btn[b-w405awn8f3] {
    width: 100%;
    padding: 10px;
    background-color: #074f9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover[b-w405awn8f3] {
    background-color: #0056b3;
}

.task-cards-container[b-w405awn8f3] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    
    
}

.task-card[b-w405awn8f3] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.task-card h3[b-w405awn8f3] {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-card p[b-w405awn8f3] {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Responsive design */
@media (max-width: 600px) {
    .task-form-container[b-w405awn8f3] {
        padding: 20px;
        width: 90%;
    }

    .task-title[b-w405awn8f3] {
        font-size: 20px;
    }

    .submit-btn[b-w405awn8f3], .btn-secondary[b-w405awn8f3] {
        font-size: 14px;
    }

    .task-cards-container[b-w405awn8f3] {
        flex-direction: column;
        align-items: center;
    }

    .task-card[b-w405awn8f3] {
        width: 100%;
    }
}
