
/* Basic reset for margins and padding */
*[b-rjt3f5jsb1] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the signup form */
.signup-form-container[b-rjt3f5jsb1] {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(93, 42, 223, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title styling */
.signup-title[b-rjt3f5jsb1] {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;

    margin-bottom: 20px;
    color: #007bff;
}

/* Form group styling */
.form-group[b-rjt3f5jsb1] {
    margin-bottom: 15px;
}

/* Label styling */
.form-label[b-rjt3f5jsb1] {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

/* Input field styling */
.form-input[b-rjt3f5jsb1] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f9f9f9;
}

.form-input:focus[b-rjt3f5jsb1] {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

/* Button styling */
.submit-btn[b-rjt3f5jsb1] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Response Message */
.message[b-rjt3f5jsb1] {
text-align: center;
width: 100%;
}
.submit-btn:hover[b-rjt3f5jsb1] {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 600px) {
    .signup-form-container[b-rjt3f5jsb1] {
        padding: 20px;
        width: 90%;
    }

    .signup-title[b-rjt3f5jsb1] {
        font-size: 20px;
    }

    .submit-btn[b-rjt3f5jsb1] {
        font-size: 14px;
    }
}