@page "/"
@using team_project.Services
@using team_project.Models
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@using team_project.Components


<PageTitle>Home</PageTitle>

<h1>Task Tracker App</h1>
<script>
    function scrollToElement(elementId) {
        var target = document.getElementById(elementId);
        if (target) {
            target.scrollIntoView({ behavior: "smooth", block: "start" });
        }
    }
</script>

<Login />