@page "/login"
@using team_project.Services
@using team_project.Models
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<div class="login-form-container">
    <h2 class="login-title">Login</h2>

    <form @onsubmit="login">
        <div>
            <label class="form-label" for="username">Username</label>
            <input class="form-input" type="text" @bind="@username" @bind:event="oninput" id="username" name="Username" required minlength="5" maxlength="30"/>
        </div>
        <div>
            <label class="form-label" for="password">Password</label>
            <input class="form-input" type="password" @bind="@password" @bind:event="oninput" id="password" name="Password" required minlength="7" maxlength="15"/>
        </div>
        <span class="message">@message</span>
        <button class="submit-btn" type="submit">Login</button>
    </form>
</div>

@code {
    private string username ="";
    private string password ="";
    private object message = "";

    private void login()
    {
        AccountService Account = new AccountService();
        var result = Account.ValidateAccount(username, password);

        if (result == "Success")
        {
            Navigation.NavigateTo("/tasks");
        }
        else
        {
            message = result;
        }
    }
}