@page "/signup"
@using team_project.Services
@using team_project.Models
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<div class="signup-form-container ">
    <h2 class="signup-title">Create Account</h2>

    <form @onsubmit="signup">
        <div>
            <label class="form-label" for="username">Username</label>
            <input class="form-input " type="text" @bind="@username" @bind:event="oninput" id="username" name="Username" required minlength="5" maxlength="30"/>
        </div>
        <div>
            <label class="form-label" for="password">Password</label>
            <input class="form-input" type="password" @bind="@password" @bind:event="oninput" id="password" name="Password" required  minlength="7" maxlength="15"/>
        </div>
        <span class="message">@message</span>
        <button class="submit-btn" type="submit">Signup / Login</button>
    </form>
</div>

@code {
    private string username = "";
    private string password = "";

    private object message = "";
    
    private void signup()
    {
        AccountService Account = new AccountService();
        message = Account.CreateAccount(username, password);
    }
}    
